<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>some website</title>
</head>
<body>
    {{>header}} 
    <p> Something about us here</p>
    {{> footer}}
</body>
</html>